---
import Layout from '../layouts/Layout.astro';
import Profile from '../components/Profile.astro';
import CareerAssistant from '../components/CareerAssistant';
import SlackMeButton from '../components/SlackMeButton';
---

<Layout showNavigation={true}>
	<main class="p-4 md:ml-64 h-auto pt-16">
		<div class="flex flex-col items-center max-w-4xl mx-auto">
			<Profile />
			<div class="-mt-4 mb-4">
				<CareerAssistant client:only="react" />
			</div>
		</div>
	</main>

	<!-- Homepage Slack Me CTA -->
	<div class="fixed bottom-6 right-6 z-50">
		<SlackMeButton client:only="react" />
	</div>
</Layout>
