---
const currentYear = new Date().getFullYear();
---

<footer class="w-full max-w-xl mx-auto text-primary-700 dark:text-primary-400 transition-colors duration-300 text-xs mb-10 mt-6">
	<div class="relative">
		<div class="absolute h-px w-20 bg-gradient-to-r from-transparent via-primary-300/30 to-transparent left-1/2 -translate-x-1/2 -top-4 dark:via-primary-700/20"></div>
		<div class="flex flex-col sm:flex-row items-center justify-center gap-y-2 sm:gap-x-3 text-center">
			<span>
				Built with <a href="https://astro.build" class="text-primary-700 dark:text-primary-300 transition-colors duration-300 hover:text-primary-800 dark:hover:text-white underline">Astro</a>
			</span>
			<span class="hidden sm:inline text-primary-700 dark:text-primary-400 transition-colors duration-300">·</span>
			<span>
				Made by <a href="https://astrothem.es" class="text-primary-700 dark:text-primary-300 transition-colors duration-300 hover:text-primary-800 dark:hover:text-white underline">astrothem.es</a>
			</span>
			<span class="hidden sm:inline text-primary-700 dark:text-primary-400 transition-colors duration-300">·</span>
			<span>© {currentYear} Linkk</span>
		</div>
	</div>
</footer>
