---
import "../styles/global.css";
import BaseHead from "../components/BaseHead.astro";
import AmbientBackground from "../components/AmbientBackground";
import DynamicNavigation from "../components/DynamicNavigation.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

interface Props {
	title?: string;
	description?: string;
	showNavigation?: boolean;
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION, showNavigation = true } = Astro.props;
---

<!doctype html>
<html lang="en" class="antialiased bg-gray-50 dark:bg-gray-900">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
		<AmbientBackground client:only="react" />
		<div class="fixed inset-0 bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] dark:bg-[radial-gradient(#1f2937_1px,transparent_1px)] [background-size:24px_24px] opacity-[0.15] dark:opacity-[0.07] pointer-events-none"></div>

		{showNavigation && <DynamicNavigation />}

		<slot />
	</body>
</html>

<script is:inline>
	// Force dark mode always
	document.documentElement.classList.add('dark');
</script>
